.card {
    @extend %estilo-flexcolumn;
    align-items: center;

    img {
        max-width: 10em;
        max-height: 10em;

        &:hover {
            transform: scale(1.2);
            transition: .3s;
        }
    }

    .card-body {
        @extend %estilo-flexcolumn;
        align-items: center;
        text-align: center;

        .sindescuento {
            text-decoration: line-through;
            font-weight: bold;
        }

        .condescuento {
            text-decoration: solid;
            font-size: 1em;
            margin-left: 0.5em;
            font-style: italic;
            font-weight: bold;
            color: red;
        }

        form {
            @extend %estilo-flexrow;
            align-items: center;
            padding: 8px;

            select {
                background-color: blanchedalmond;
                margin: 3px;
            }

            .zapatillas {
                padding-left: 14px;
                padding-right: 14px;
            }
        }
    }
}